html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: black;
  background-image: linear-gradient(to left, #424242, black);
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  padding: 32px;
}

#app {
  display: flow-root;
  height: 100%;

  padding: 0 8px;

  border-radius: 24px;
  box-shadow: 10px 10px 10px hsl(0deg 0% 0% / 80%);

  background: hsl(234deg 100% 8%);
  background: linear-gradient(
    to right,
    rgb(0 78 146 / 20%),
    hsl(234deg 100% 8% / 20%)
  );

  backdrop-filter: blur(3px);
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.temp-wrapper {
  display: flex;
  justify-content: center;
}

.temp {
  font-size: 2rem;
  text-align: center;
}

.temp-unit {
  vertical-align: super;
  font-size: 1rem;
}

.desc-wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 1em;
  position: relative;
}

.desc {
  text-align: center;
}

.icon {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  z-index: -1;
}
