html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: black;
  background-image: linear-gradient(to left, #424242, black);
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  padding: 32px;
}

#app {
  display: flow-root;
  height: min(100%, 600px);
  max-width: 400px;

  flex-basis: 100%;
  padding: 0 8px;
  margin-inline: auto;

  border-radius: 24px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 80%);

  background: #000429;
  background: linear-gradient(
    to right,
    rgba(0, 78, 146, 0.2),
    rgba(0, 4, 41, 0.2)
  );
  backdrop-filter: blur(3px);
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.temp-wrapper {
  display: flex;
  justify-content: center;
}

.temp {
  font-size: 2rem;
  text-align: center;
}

.temp-unit {
  vertical-align: super;
  font-size: 1rem;
}

.desc-wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 1em;
  position: relative;
}

.desc {
  text-align: center;
}

.icon {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  z-index: -1;
}

.city-input {
  padding: 8px;
  background: hsl(222deg 11% 24%);
  background: linear-gradient(
    to right,
    hsl(217deg 89% 61%),
    hsl(222deg 11% 24%)
  );
  box-shadow: inset 0px 0px 4px 0px hsl(0deg 0% 100%);
}

.city-input::placeholder {
  color: #424242;
}

form {
  width: fit-content;
  margin-inline: auto;
}

.search-wrapper {
  display: flex;
}

.search-button {
  background-image: url(../assets/images/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(180deg 14% 99%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.error {
  display: none;
  width: fit-content;
  margin-top: 16px;
  margin-inline: auto;
  color: hsl(0deg 100% 39%);
  background-color: hsl(0deg 0% 100%);
  padding: 2px 4px;
}
